<div class="container-fluid_Detail">
  <div class="card" style="width: 25rem;">
    <h2 class="card-title">{{articuloDetail.name}}</h2>

        <img class = "card-img-top"
          src="{{ articuloDetail.image }}"
          alt="{{ articuloDetail.image }}">

    <div class="card-tex">
      <dl>


        <dt> name del producto</dt>
        <dd>{{ articuloDetail.name }}</dd>
        <hr />

        <dt class="bold"> Collection: </dt>
        <dd class = "caption">{{ articuloDetail.collection}}</dd>
        <hr />
        <dt class="bold"> Descripcion: </dt>
        <dd class="caption">{{ articuloDetail.description }}</dd>
        <hr />





      </dl>
    </div>
  </div>
 </div>

