<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <div  class="container" style="display: flex ; column-gap: 100px;">









    <div class="leftColumn">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" >#</th>
        <th scope="col" >Name</th>
        <th scope="col" >collection</th>
        <th scope="col" >price</th>
      </tr>

    </thead>
          <tbody>

     <div *ngFor="let articulo of articulos">
              <div  role= "button" (click) = "detail( articulo)" style="border: 100px;">
                <tr>

                 <th>{{articulo.id}}</th>
                  <td>{{articulo.name}}</td>
                  <td>{{articulo.collection}}</td>
                  <td >{{articulo.price}}</td>
                </tr>
              </div>
      </div>
            <div *ngIf="totalArticulos!=0  ">
              <tr>
                <th colspan="4"><h6>Average price: {{promCost}}</h6></th>
              </tr>



            </div>





          </tbody>

  </table>
  </div>


<div class = "rightColumn">

  <div *ngIf="selected">
    <app-articulo-detail [articuloDetail]=" selectedArticulo"></app-articulo-detail>
  </div>

</div>




</div>
