td
{
  padding-left: 100 px;
}

.card
{
  border-color: black;
  border-style: double;
  margin: 100px;
}

.rightcolumn
{
  margin: 100px;
  padding: 100px;
}


table {
  border-collapse: collapse;
}


