<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<div>
<table class="table">
  <thead>
    <tr>
      <th scope="col" >#</th>
      <th scope="col" >Name</th>
      <th scope="col" >collection</th>
      <th scope="col" >price</th>
    </tr>

  </thead>
        <tbody>

          <div *ngFor="let articulo of articulos">
            <tr  role= "button" (click) = "detail()">
                <td scope="row">
                  {{articulo.id}}
                </td>

                <td>{{articulo.name}}</td>

                <td>{{articulo.collection}}</td>
                <td >{{articulo.price}}</td>
            </tr>
          </div>
          <tr>
            <h6>Average price: {{promCost}}</h6>
          </tr>




        </tbody>

</table>
</div>

